a {
  color:blue;
  text-decoration:none;
}
h1 {
  font-size:60px; text-align:center;
  border-bottom:1px gray solid;
  padding-bottom: 10px;
  margin: 0px;
  }
#grid {
  display: grid;
  grid-template-columns: 145px 1fr;
}
#navigation {
  font-weight: bold;
  border-right: 1px gray solid;
  margin-top:10px;
}
#article {
  padding-left:10px;
  margin-top:10px;
}
#article h2 {
  margin:0px;
}
#navigation div {
  padding-left:11px; font-size:23px;
}
#navigation ol{
  padding-left:31px; margin-top:5px;
}
@media(max-width:600px){
  #grid {
    display:block;
  }
  #navigation {
    border-right:none;
  }
  h1 {
    font-size:50px;
    border-bottom:none;
  }
}
