body{
  margin:0;
}
a{
  color:black;
  font-weight:bold;
  text-decoration:none;
}
li a {
  padding-left:5px;
  vertical-align:middle;
}
h1 {
  margin:0;
  text-align:center;
  font-size:50px;
  padding:15px;
  border-bottom:1px solid gray;
}
li {
  border: 1px solid lightgray;
  height:45px;
  font-size:25px;
  margin-bottom:5px;
  margin-right:10px;
}
ul{
  vertical-align:middle;
}
.quest {
  font-size:12px;
  font-weight:bold;
}
#grid {
  display: grid;
  grid-template-columns:280px 1fr
}
#list {
  border-right:1px solid gray;
  margin-right:10px;
}
#article {
  padding-left:10px;
}
#dmode {
  width:100px;
  margin-left: 40px;
}
@media(max-width:1080px){
  #grid {
    display:block;
    padding:5px;
  }
  #dmode {
    margin:0;
    position: absolute;
    left: 50%;
    margin-left:-50px;
  }
  #list {
    margin-bottom:30px;
    border:none;
  }
  #article h2 {
    margin:0;
    padding-top:30px;
    padding-bottom:20px;
  }
  #article p {
    padding:10px;
  }
  ul {
    padding-left:10px;
    list-style-type:none;
  }
  li{
    margin-right:0;
    text-align:center;
    border:2px solid gray;
  }
}
