#grid {
  display:grid;
  grid-template-columns: 125px 1fr;
}
#index {
  font-weight:bold; border-right:1px solid gray;
}
#article {
  margin-left:10px;
}
h1 {
  text-align:center; border-bottom:1px solid gray; margin-bottom:0px; padding-bottom:15px;
}
h2 {
  margin-top:10px;margin-bottom:5px;
}
ol {
  margin-top:0px; padding-left:20px;
}
a{
  text-decoration:none; color:black;
}
span{
  color:blue;
}
span a {
  color:blue;font-weight:bold;
}
@media(max-width:500px){
  #grid{
    display:block;
  }
  #index {
    font-weight:bold; border-right:none;
  }
  #article{
    margin-top:35px;
  }
  h1 {
    text-align:center; border-bottom:none; margin-bottom:0px; padding-bottom:15px;
  }
}
